html,header,body{
    font-family: monospace;
   font-size: 15px;
}
#a-title{
   ;
    font-family: monospace;
}
ul{
    display: flex;
    justify-content: flex-start;
}
li{
    display: block;
    padding: 1rem;
}
@media (max-width: 80px){
    ul{
         flex-direction: column;
    }
}
.carousel-frame {
    width: 100%;
    margin-bottom: 0.5em;
    padding-bottom: 1em;
    position: relative;
    overflow-x: scroll;
    white-space: nowrap;
 }
 .carousel-frame ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}
.carousel-frame li.carousel-item {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
}

a{
    
    display: flex;
    flex-direction:wrap;
}

